<!DOCTYPE html>
<html lang="en">

<head>
	<title>Registration</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" sizes="16x16" href="assets/img/logo.png">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="container-login100" style="background-image: url('images/da.jpeg');">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form id="signupForm" class="login100-form validate-form">
				<span style="margin-top: -50px;" class="login100-form-title p-b-37">
					Sign Up
				</span>


				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter  email">
					<input class="input100" type="text" name="emailId" id="emailId" onblur="CheckEmail()"
						placeholder="Email" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter username">
					<input class="input100" type="text" name="userName" placeholder="Username" required>
					<span class="focus-input100"></span>
				</div>

				<div class="wrap-input100 validate-input m-b-20" data-validate="Please Select Any Option">
					<select disabled id="batchId" name="batchId" Text="Select" class="input100" style="font-family: SourceSansPro-Bold;
					font-size: 16px;
					color: #4b2354;
					line-height: 1.2;
					display: block;
					width: 100%;
					height: 62px;
					padding: 5px;
					border: none;
					background: transparent;">
						<option value="">Select</option>
						<%for( var i=0;i<JSON.parse(data).length;i++){%>
						<option value="<%=JSON.parse(data)[i].batchId%>"> <%=JSON.parse(data)[i].batchName%></option>
						<%}%>
					</select>
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-input100 validate-input m-b-25" data-validate="Enter password">
					<input class="input100" type="password" name="password" placeholder="Password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" title="Must contain at least one number and one uppercase and lowercase letter, and at least 8 or more characters" required>
					<span class="focus-input100"></span>
				</div>


				<div class="wrap-inputmo validate-input m-b-25" data-validate="Enter MobileNumber">
					<input class="input100 inputmo" type="text" id="txtMobile" pattern="^[1-9]{1}[0-9]{9}$" max="9999999999"
				 name="mobileNo" placeholder="MobileNumber" onblur="MobileNumberChecker()">
					<span class="focus-input100"></span>
				</div>

				<!-- <div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Send OTP
					</button>
				</div>
				<br>

				<div class="wrap-inputmo validate-input m-b-25" data-validate="Enter OTP">
					<input class="input100 inputmo" pattern="^[0-9]*$" type="text" id="txtMobile" maxlength="10"
						name="OTP" placeholder="OTP">
					<span class="focus-input100"></span>
				</div>


				<div class="container-login100-form-btn">
					<button class="login100-form-btn">
						Sign Up
					</button>
				</div> -->

				
				<div class="container-login100-form-btn">
					<button class="login100-form-btn" id="signupButton">
						Sign Up
					</button>
				</div>
				<br>
				<div class="text-center">
					<a href="Login" class="txt2 hov1">
						Sign in
					</a>
				</div>
			</form>
		</div>
	</div>
	<script type="text/javascript">
		$("#signupForm").click(function () {
			alert("Please check your email for your account activation !!!");
		});
	</script>
	<script>
			//alert("Check your Email..Registration confirmation will be emailed to you.")
		function CheckEmail() {

			//console.log("Working");

			var email = document.getElementById("emailId").value;

			var name = email.substring(0, email.lastIndexOf("@"));
			var domain = email.substring(email.lastIndexOf("@") + 1);
			//var Department =  document.getElementById("mySelect").value = "banana";
			if (domain != "daiict.ac.in") {
				alert("Only Daiict Email Address Is Valid");
				//document.getElementById("emailadd").value="";


			}
			else {
				var substring = name.substring(0, 6);

				if (substring == "201912") {
					document.getElementById("batchId").value = "1";
				}
				else if (substring == "201901") {

					document.getElementById("batchId").value = "3";
				}
				else if (substring == "201911") {
					//console.log("Mtech");
					document.getElementById("batchId").value = "2";
				}
				else if (substring == "201921") {
					document.getElementById("batchId").value = "4";
					//console.log("PHD");
				}
				else {
					alert("Enrollment number and department mismatch. Please check again.");
				}

			}


		}
	</script>
	<script>
		function MobileNumberChecker() {
			var mobile = document.getElementById("txtMobile").value;
			if (mobile.length > 0) {
				if (mobile.length != 10) {
					alert("Please Enter 10 Digit Mobile Number");
				}
			}
		}
	//var at = document.getElementById("email").value.indexOf("@");

	</script>
	
	

	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="assets/js/main.js"></script>

</body>

</html>