<!DOCTYPE html>
<html lang="en">

<head>
	<title>Session Admin Access</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/logo.jpg" />
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/iconic/css/material-design-iconic-font.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animate/animate.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/css-hamburgers/hamburgers.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/animsition/css/animsition.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/select2/select2.min.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/daterangepicker/daterangepicker.css">
	<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<!--===============================================================================================-->
</head>

<body>

	<div class="container-login100">
		<div class="wrap-login100 p-l-55 p-r-55 p-t-80 p-b-30">
			<form class="login100-form validate-form" method="post">
				<span style="margin-top: -50px;" class="login100-form-title p-b-37">
					Session  Access
				</span>



				<div class="wrap-input100 validate-input m-b-20" data-validate="Enter  email">
					<input class="input100" type="text" name="emailId" id="emailadd" onblur="validateDomain()"
						placeholder="Email">
					<span class="focus-input100"></span>
				</div>


				<div class="container-login100-form-btn">
					<button name="btnGrant" type="submit" class="login100-form-btn">
						Grant Access
					</button>
				</div>
			</form>


		</div>
	</div>
	<script>

		function validateDomain() {

			var email = document.getElementById("emailadd").value;
			
			var name = email.substring(0, email.lastIndexOf("@"));
			var domain = email.substring(email.lastIndexOf("@") + 1);

			if (domain != "daiict.ac.in") {
				
			alert("Only Daiict Email Address Is Valid");
			document.getElementById("emailadd").value="";
			}
			else {
				if (name >= 201912001 && name < 201912120) {
					a = true;
				}
				else {
					a = false
				}
				if (!a) {
					alert("Please Enter Valid Email Address");
					
						}
		
			}
		}
	</script>
	<script>
		function MobileNumberChecker() {
			var mobile = document.getElementById("txtMobile").value;
			if (mobile.length > 0) {
				if (mobile.length != 10) {
					alert("Please Enter 10 Digit Mobile Number");
				}
			}
		}
	//var at = document.getElementById("email").value.indexOf("@");

	</script>

	<div id="dropDownSelect1"></div>

	<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/animsition/js/animsition.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/select2/select2.min.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/daterangepicker/moment.min.js"></script>
	<script src="vendor/daterangepicker/daterangepicker.js"></script>
	<!--===============================================================================================-->
	<script src="vendor/countdowntime/countdowntime.js"></script>
	<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>

</html>